{% extends 'base.html.twig' %}

{% block title %}Draw from Deck{% endblock %}

{% block body %}
    <h1>Draw from Deck</h1>
    <div class="card">
        {% if drawnCard is defined %}
            <p>Drawn Card: {{ drawnCard }}</p>
        {% else %}
            <p>No more cards in the deck.</p>
        {% endif %}
    </div>
    <p>Remaining Cards: {{ remainingCardsCount }}</p>
    <a href="{{ path('card_deck_draw') }}">Draw One Card</a><br>
    <a href="{{ path('card_deck_draw_more', {'numCards': 2}) }}">Draw Two Cards</a><br>
    <a href="{{ path('card_deck_draw_more', {'numCards': 3}) }}">Draw Three Cards</a><br>
    <a href="{{ path('card_deck_draw_more', {'numCards': 4}) }}">Draw Four Cards</a><br>
    <a href="{{ path('card_deck_draw_more', {'numCards': 5}) }}">Draw Five Cards</a><br>
{% endblock %}
